body {
    background: #e0e0e0;
    background-image: url("https://i.imgur.com/MkLdnyT.png");
    background-size: 450px 100px;
    background-repeat: repeat;
}

#main-container {
    background-image: url("https://i.imgur.com/MkLdnyT.png");
    padding-left: 10%;
    padding-right: 10%;
}

#main-container-row {
    padding-top: 10%;
}

form {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5% 5%;
    background-color: white;
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

#assignment_pane {
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#assignment_pane>button:focus {
    background-color: grey;
}

select{
    height: 150px;
}