<html>
    <head>
        
    </head>
    <body>
        <h1><%= classroom.name%></h1>
        <ul>
            <% if(classroom.assignments && classroom.assignments.length > 0){ %>
                <% for(i = 0; i < classroom.assignments.length; i++){ %>
                    <li><a href="/classroom/<%= classroom.id %>/assignment/<%= classroom.assignments[i].id %>">Assignment <%= i+1 %></a></li>
                <% } %>
            <% }else{ %>
                <li>No Assignments Posted Yet</li>
            <% } %>
        </ul>
        
    </body>
</html>