<!-- Starter Template retrieved from https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!doctype html>
<html lang="en">
  <head>
    <title>Create Classroom</title>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/createClassroom.css">
    
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>
      <div id="main-container" class="jumbotron jumbotron-fluid">
          <h2>Create Classroom</h2>
          <form>
            <div class="form-group row">
                <input type="text" class="form-control col-md-4 col-sm-12" id="name_in" placeholder="Classroom Name">
            </div>
            
            
            <div class="form-group row justify-content-start" id="main_div">
              <div class="btn-group-vertical col-md-3" id="assignment_pane" role="group">
              </div>
              <div class="col-md-3">
                <h5 class="selector-heading" id="selector_heading">Assignment</h5>
                <select multiple class="form-control" id="selector1">
                </select>
              </div>
              <div class="col-md-3">
                <h5 class="selector-heading">All Exercises</h5>
                <select multiple class="form-control" id="selector2">
                </select>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary" id="create_btn" type="button" onclick="createClass()">Create</button>
            </div>
          </form>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/js/createClassroom.js"></script>
  </body>