<!doctype html>
<html lang="en">
  <head>
    <title>LogicAcademy - Parsing</title>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/parse.css">
  </head>
  
  <body>
        <h1 id="parse-text" class="text-center font-weight-bold">Create Exercise</h1>
        <div id="main-container" class="container-fluid">
                <div class="tab">
                  <button class="tablinks" onclick="openTab(event, 'truthTable')">Truth Table</button>
                  <button class="tablinks" onclick="openTab(event, 'symbolization')">Symbolization</button>
                </div>
<div class="tabdisplay">
                    <form action="/exercises/create" method="POST">
                        
                        <% if(typeof msg !== "undefined") { %>
                        <div class="alert alert-success" role="alert">
                            <%= msg %>
                        </div>
                        <% } %>
    
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="type" class="notinput" id="type" name="type" value="truthTable">
                                <div class="tabcontent" id="symbolization">
                                    <label for="name">Display Name:</label>
                                    <input type="name" class="form-control" id="name" placeholder="If Pam does, so does Ronald" name="name">
                                    <label for="atomics">Atomics:</label>
                                    <input type="atomics" class="form-control" id="atomics" placeholder="P=Pam, R=Ronald" name="atomics">
                                </div>
                                <label for="equation">Equation:</label>
                                <input type="equation" class="form-control" id="equation" placeholder="ex. P→R" name="equation">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('∧')">∧</button>
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('∨')">∨</button>
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('→')">→</button>
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('¬')">¬</button>
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('↔')">↔</button>
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('|')">|</button>
                                <button type="button" class="btn btn-secondary" onclick="addSymbol('↓')">↓</button>
                            </div>
                        </div>
                                                        

                        <button class="btn btn-primary btn-block" type="submit">Create and Save</button>
                    </form>
</div>
        </div>
        
        <script type="text/javascript" src="/js/parse.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>
