<!-- Exercise row -->
<div id="exercise-area" class="row">
    <div class="col">
        <div class="tab-content" id="nav-tabContent">
            <div id="exercise-field" class="tab-pane fade show active" role="tabpanel" aria-labelledby="list-home-list">
                Select an exercise from the left
            </div>
        </div>
    </div>
</div>

<!-- Exercise feedback row -->
<div class="row">
    <div id="feedback-area" class="col">
    </div>
    <div id="submit-area" class="col">
        <button id="check-solution" class="submit-button btn btn-secondary" disabled>Check</button>
        <button id="save-solution" class="submit-button btn btn-success" disabled>Save</button>
    </div>
</div>