<nav id="navigation" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">LogicAcademy</a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link fill-anim" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fill-anim" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fill-anim" href="#plans">Plans</a>
            </li>
        </ul>
            
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link fill-anim" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fill-anim" href="/signup">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>