<div class="fill-height">
    <div>
        <h1 id="ClassName">Classroom</h1>
        <p id="InstructorName">Instructor:</p>
    </div>
    <hr>
    <div class="row">
        <!--    <div class="tab-content" id="nav-tabContent">-->
        <!--        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="list-home-list">-->
        <!--            This area is for classroom announcements, deadlines and other information-->
        <!--        </div>-->
        <!--    </div>-->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" id="heading1">
                        <h5 class="btn" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Announcements
                        </h5>
                </div>
                <div id="collapse1" class="collapse show" aria-labelledby="heading1">
                    <div class="card-body">
                        No announcements
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" id="heading2">
                        <h5 class="btn" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            Resources
                        </h5>
                </div>
                <div id="collapse2" class="collapse show" aria-labelledby="heading2">
                    <div class="card-body">
                        <p><a class="card-link" href="#">Lecture Notes</a></p>
                        <p><a class="card-link" href="#">My Grades</a></p>
                        <p><a class="card-link" href="#">Discussion Board</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
